<!DOCTYPE css>

#content {
  text-align: center;
  margin: 0 auto;
  width: 900px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 45px;
}

img {
width:900px;
margin:auto;
padding: 20px;
}

blockquote {
font: 24px normal helvetica, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}


h2 {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

p {
  font-family: Georgia, Times, serif;
  font-size: 13px;
  text-align: left;
}

ul {
  font-family: Georgia, Times, serif;
  font-size: 13px;
}

figcaption {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
