#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
font-size: 1em;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
text-align: center;
}

p {
font-family: Georgia, serif;
line-height: 180%;
font-size: 1em;
}

/* Sidebar */
#sidebar{
	width: 70%;
	margin: 0 auto;
	margin-top:60px;
	margin-bottom: 60px;
	border: 4px solid black;
	background: #DC143C;
  background-color: : transparent;
	padding: 10px;
	font-size: 1em;
	font-family: 'Montserrat',serif;
}

#side-source{
	font-style: italic;
}

/* pull quote*/
.pull-quote{
	font-family: 'Montserrat',serif;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;
	margin-bottom: 40px;

}

.quote{
	font-weight: 700;
	font-size: 2.5em;
	color:#DC143C;
}

.quote-attr{
	font-style: italic;
	font-size: 1em;
	font-weight:400;
}

#footer {
font-size: 0.75em;
font-family: Georgia, serif;
text-align: center;
background-color: black;
color: white;
}

.chapter {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.photo{
width: 60%;
margin:0 auto;
}

.caption{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
